$primary-color: #007BFF;
$secondary-color: #FFD700;
$text-color: #fff;

$primary-color-hover: #0056b3;
$background-color: #f8f9fa;
$feature-bg-color: #fff;
$border-color: #ddd;
$cta-btn-padding: 10px 20px;
$text-color-main: #333;

$footer-bg-color: #343a40;
$footer-text-color: #fff;
$footer-link-hover-color: #007BFF;
$footer-link-color: #ccc;
$max-width: 1200px;

$breakpoint-lg: 1024px;
$breakpoint-md: 768px;
